/* You can add global styles to this file, and also import other style files */

body {
  background-color: #1a1a1a;

  color: #ffffff;
}

.body-home {
  --s: 150px; /* control the size */

  background: linear-gradient(135deg, #0000 18.75%, #5e412f 0 31.25%, #0000 0),
    repeating-linear-gradient(45deg, #5e412f -6.25% 6.25%, #fcebb6 0 18.75%);
  background-size: var(--s) var(--s);
}
