:host {
  display: flex;
  gap: 30px;
  margin-top: 3%;
}

.filters-div {
  background-color: #383b43;
  width: 30%;
  margin-left: 5%;
  border-radius: 10px;
  padding-top: 45px;
  height: 80vh;
}

.filter-option {
  margin-left: 7%;
  margin-right: 7%;
  display: flex;
}

.filter-option > select {
  width: 70%;
}

.filter-option > h5 {
  width: 30%;
  margin-top: 5px;
  font-weight: bold;
  margin-right: 20px;
}

.filter-checkbox {
  margin-left: 7%;
  margin-bottom: 7%;
}

.filter-checkbox > input {
  margin-right: 5px;
}

.filter-checkbox > label {
  font-weight: bold;
}

.createProjectButton {
  width: 15%;
  height: 40px;
  color: white;
  background-color: green;
  border-color: green;
  border-radius: 10px;
  margin-bottom: 5%;
}

.projects-div {
  width: 58.45%;
  height: 80vh;
  background-color: #383b43;
  padding: 20px 30px 30px 30px;
  border-radius: 10px;
}

.project-list {
  margin-top: 20px;
}

.headings {
  display: flex;
  justify-content: space-around;
}

h6 {
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}

.tags-div {
  height: 22%;
  display: flex;
  gap: 10px;
  margin-left: 7%;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  background-color: #27282b;
  width: 87%;
  border-radius: 10px;
  padding: 10px;
  overflow: auto;
}

.tag {
  background-color: grey;
  width: fit-content;
  padding: 1px 5px;
  border-radius: 5px;
  height: fit-content;
}

.empty-tags-div {
  margin: auto;
  color: grey;
}

.bi-x {
  padding-left: 10px;
}

.pages {
  font-weight: bold;
  background-color: #27282b;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  margin: auto;
}

.buttons-container {
  display: flex;
  position: sticky;
  justify-content: space-between;
  top: 90vh;
}

.btns {
  display: flex;
  cursor: pointer;
  user-select: none;
  background-color: #595d66;
  font-size: 26px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

.btnsDisabled {
  display: flex;
  cursor: pointer;
  user-select: none;
  background-color: #595d66;
  font-size: 26px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  color: grey;
}

.recruiter-projects-div {
  height: 80vh;
  width: 90%;
  background-color: #383b43;
  padding: 20px 30px 30px 30px;
  border-radius: 10px;
  margin: auto;
}

.recruiter-projects-div > h5 {
  background-color: #595d66;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.project-stats {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  width: 99%;
  margin: auto;
}

.new-project-btn {
  font-weight: bold;
}

.recruiter-projects-container {
  margin-top: 40px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  width: 100%;
  height: 5.5vh;
  border: 2px solid #27282b;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card:hover{
  cursor: pointer;
}

.project-info-div {
  display: flex;
  justify-content: space-around;
  width: 75%;
}

.project-info-div > div {
  display: flex;
  width: 20%;
  text-align: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  border: 2px solid #383b43;
  background-color: aliceblue;
  font-size: 14px;
  padding: 5px;
}

.buttons-div {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  gap: 15px;
}

.buttons-div > button {
  height: 80%;
  margin: auto;
  width: 100px;
}
