<div class="welcome-container">
  <div class="headline-div">
    <div>
      <h1>Welcome to CodeScout!</h1>
      <p class="slogan">
        Discover Exceptional Talent with CodeScout: Elevate Your Hiring Process
        Beyond Boundaries!
      </p>
    </div>
  </div>
  <br />
  <br />
  <div class="description-div">
    <p>
      Revolutionize your recruitment process with CodeScout. Streamline your
      search for top-tier developers with coding challenges. Craft challenges
      tailored to your job requirements, assess candidates' skills beyond
      correctness, and accelerate your hiring journey. Join the future of tech
      recruitment - start finding your coding champions today!
    </p>
  </div>
  <p class="re-si">
    <span
      routerLink="register"
      style="text-decoration: underline; cursor: pointer"
      >Register now</span
    >
    and find the perfect candidate for your team or find your dream job!
  </p>
</div>
